[project]
	description = Repo for publishing articles
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zhou Yong (ufan)
[access "refs/for/refs/*"]
	read = group user/Zhou Yong (ufan)
	push = group user/Zhou Yong (ufan)
	label-Code-Review = -2..+2 group user/Zhou Yong (ufan)
	label-Verified = -1..+1 group user/Zhou Yong (ufan)
	rebase = group user/Zhou Yong (ufan)
	removeReviewer = group user/Zhou Yong (ufan)
	submit = group user/Zhou Yong (ufan)
[access "refs/heads/*"]
	read = group user/Zhou Yong (ufan)
	create = group user/Zhou Yong (ufan)
	push = +force group user/Zhou Yong (ufan)
	pushMerge = group user/Zhou Yong (ufan)
[access "refs/tags/*"]
	push = +force group user/Zhou Yong (ufan)
	pushTag = group user/Zhou Yong (ufan)
	pushSignedTag = group user/Zhou Yong (ufan)
